{% extends 'moderator/base.html' %}

{% load static %}

{% block sidebar %}
    <!-- this is where you'll put the link to the css file for when this page is active -->
    <link rel="stylesheet" href="{% static 'moderator/css/adverts.css'  %}">
{% endblock sidebar %}

{% block content %}
    {% for advert in adverts %}
        {% if advert.contacted %}
            <div class="card mb-3">
                <div class="card-body">
                <div class="card-title">
                    <h5>{{ advert.name }}</h5>
                    <span class="badge badge-success float-right">Contacted</span>
                </div>
                <h6 class="card-subtitle mb-2 text-muted">{{ advert.company }}</h6>
                <p class="card-text">{{ advert.description }}</p>
                </div>
            </div>
        {% else %}
            <div class="card mb-3">
                <div class="card-body">
                <h5 class="card-title">{{ advert.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ advert.company }}</h6>
                <p class="card-text">{{ advert.description }}</p>
                <a href="{% url 'moderator:contact' advert.uuid %}" class="btn btn-success btn-sm">Accept</a>
                <a href="{% url 'moderator:reject' advert.uuid %}" class="btn btn-danger btn-sm">Reject</a>
                </div>
            </div>
        {% endif %}
    {% empty %}
        <h3>No pending business requests</h3>
    {% endfor %}
{% endblock content %}