{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>
        TweetWave - Admin
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />
    <link rel="icon" href="{% static 'moderator/img/tweetwave.ico' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'moderator/css/boxicons-2.1.2/css/boxicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'moderator/css/base.css' %}">
    {% block sidebar %}
    {% endblock sidebar %}
</head>

<body>
    <div class="sidebar">
        <div class="side-menu">
            <a class="sidebar-hd" href="{% url 'submission:index' %}">
                <h4 class="side-header">TweetWave</h4>
            </a>
            <a href="{% url 'moderator:index' %}" class="menu-item" id="Index">
                <span><i class="bx bx-home"></i></span><h3>Home</h3>
            </a>
            <a href="{% url 'moderator:pending' %}" class="menu-item" id="Pending">
                <span><i class="bx bx-time"></i></span><h3>Pending</h3>
            </a>
            
            <a href="{% url 'moderator:approved' %}" class="menu-item" id="Approved">
                <span><i class="bx bx-user-check"></i></span><h3>Approved</h3>
            </a>
            <a href="{% url 'moderator:flagged' %}" class="menu-item notification" id="Flagged">
                <div class="notification-hd"><span><i class="bx bx-flag"></i></span><h3>Flagged </h3></div>
                <div><span style="background: var(--color-black);" class="badge badge-secondary counter badge-pill d-inline">{{ number }}</span></div>
                
            </a>
            <a href="{% url 'moderator:adverts' %}" class="menu-item" id="Adverts">
                <span><i class="bx bx-tv"></i></span><h3>Adverts</h3>
            </a>
        </div>
        <div class="side-footer">
            <a href="{% url 'users:signout' %}" class="menu-item logout">
                <span><i class="bx bx-cog"></i></span><h3>Log Out</h3>
            </a>
            <div class="footer">
                <p>Copyright 2022 TweetWave</p>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
    
    <script src="{% static 'moderator/js/base.js' %}" async defer></script>
</body>
</html> 